<div class="row">
    <div class="col-md-3 sidebar">
        <ul class="nav nav-sidebar">
            <div ng-repeat="app in applications">
                <li class="app-header"><h2>Application</h2></li>
                <abn-tree
                        tree-data       = "treeData"
                        icon-leaf       = "fa fa-angle-right"
                        icon-expand     = "fa fa-table"
                        icon-collapse   = "fa fa-table"
                ></abn-tree>
            </div>
        </ul>
    </div>
    <div class="col-md-offset-3 col-md-9">
        <h1>Logs</h1>

        <div class="list-group" ng-repeat="log in logs">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">{{log.message}}</h4>

                <p class="list-group-item-text">{{log.sys_created_on}}</p>
            </a>
        </div>
    </div>
</div>