<div class="login-container">
    <div class="container">
        <div class="dashboard-icon"><img style="max-width: 300px;" src="images/service-now.png" /></div>

        <div class="loading" ng-show="isLoading">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>

        <form ng-show="!isLoading" class="form-signin" ng-submit="validateCredentials()">
            <label for="inputInstance" class="sr-only">Instance URL</label>
            <input ng-model="instanceUrl" type="text" id="inputInstance" class="form-control" placeholder="Instance URL" required autofocus>

            <label for="inputEmail" class="sr-only">Account</label>
            <input ng-model="account" type="text" id="inputEmail" class="form-control" placeholder="Account" required>

            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" style="background-color: #7F8C8D; border: 0" type="submit">Sign in</button>
        </form>
    </div>
</div>