<div class="container">
    <div class="row">
        <div class="list-group col-md-6" ng-repeat="table in tables">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">{{table.name}}</h4>
                <p class="list-group-item-text">Label: {{table.label}}</p>
                <p class="list-group-item-text">{{table.description}}</p>
                <p class="list-group-item-text">Last update: {{table.sys_updated_on}}</p>
            </a>
        </div>
    </div>
</div>