.logs-container {
  padding-right: 0;
  padding-left: 10px;
}

.logs-header {
  margin-bottom: 15px;
  padding:5px;
  background-color: #7F8C8D;
  color: #ECF0F1;
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
    display: inline-block;
  }
}

.log-entry {
  margin-bottom: 10px;
}